.card-largura {
    max-width: 18rem;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.fonte-titulo {
    font-family: "Rockwell Extra Bold";
    font-weight: bold;
}

.texto-cor-especial {
    font-family: "Bauhaus 93";
    font-weight: bold;
    color : darkred!important;
    font-style: normal;
}
.texto-cor-especial- {
    font-style: normal;
    font-family: "Bauhaus 93";
    font-weight: bold;
    color:black!important;
    margin-left: 5px;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}
.texto-preco{
    color: gray;
    font-family: "bahnschrift light condensed";
    margin-top:-33px;
    margin-left:196px;
}
.card-text-{
    color:gray;
}
.login{
    background-color: #f8f9fa;
    width: 45%;
    padding: 0 50px 50px;
    margin: 130px auto;
}

.drop{
    list-style:none; 
    float:left; 
}
.drop li{
    position:relative; 
    float:left; 
}
.drop li a{
    color:#333;
     text-decoration:none;
      padding:5px 7px;
       display:block;
    }
 

.drop li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
}
	
.drop li:hover ul, .drop li.over ul{display:block;}

.drop li ul li{
    border:1px solid #c0c0c0; 
    display:block; 
    width:150px;
}
@media only screen and (max-width: 700px){
    .login{
        width: 80%;
    }

}


