.card-largura {
    max-width: 18rem;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.fonte-titulo {
    font-family: "Rockwell Extra Bold";
    font-weight: bold;
}

.texto-cor-especial {
    font-family: "Bauhaus 93";
    font-weight: bold;
    color : darkred!important;
    font-style: normal;
}
.texto-cor-especial- {
    font-style: normal;
    font-family: "Bauhaus 93";
    font-weight: bold;
    color:black!important;
    margin-left:-13px;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}
.texto-preco{
    color: gray;
    font-family: "bahnschrift light condensed";
    margin-top:-33px;
    margin-left:196px;
}
.card-text-{
    color:gray;
}
